
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
   
    
    
    background-color:#00305a ;
    overflow: hidden;
    display: block;
    
    
  }
   ul{
     list-style-type: inherit;
   }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover:not(active) {
    background-color: black;
  }
  .active{
      color: burlywood;

  }
  li logo{
    
    display:block;
    
    }
    
   .self-description {
     font-weight: bold;
   }
    .content {
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      padding: 5px;
    
     
    }
    .footer {
   
      background-color: grey;
      padding: 10px;
      text-align: right;
      display:block;
     height:150px;

    }
    p.h1{
      font-size: 35px;
      text-align: center;
      font-weight: bold;
      color: white;
  text-shadow: 2px 2px 4px #000000;

    }
    .contentbox{
      
      
      padding: 35px;
      background-color: white;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .imgbox{
      
      padding: 35px;
      padding-left: 125px;
      background-color: white;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
   
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    .clearfix {
      overflow: auto;
    }
    .column {
      float: left;
      width: 50%;
      padding: 15px;
    }
    
    .col{
      float: left;
      padding: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .row {
      content: "";
      display: table;
      clear: both;
    }
    .h2{
      float: right;
      font-size: 35px;
      font-weight: bold
    }
    li social{
      align-content: center;
     }

     
    @media (min-width: 767px) {
      .portimage{
        width: 300px;
        height: 350px;
      }

    }


    @media only screen and (min-width:414px) and (max-width: 767px) {
    .imgbox{
      padding: 35px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .portimage{
      width: 205px;
      height: 295px;
    }

    .row {
      width: 320px;
    }

    .col{
       float: none; 
       width: 300px;
       padding-left: 60px;
       padding-right: 30px;
    }
    .profilepic{
      padding-left: 5px;
      padding-right: 5px;
      width:270px;
      height:270px;
    }
    .logoimg{
      width:55px;
    }
    .iconimg{
      width: 25px;
    }
  }

  @media only screen and (min-width:322px) and (max-width: 413px) {
    .imgbox{
      padding: 35px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .portimage{
      width: 180px;
      height: 270px;
    }

    .row {
      width: 275px;
    }

    .col{
       width: 260px;
    }
    .profilepic{
      padding-left: 5px;
      padding-right: 5px;
      width:270px;
      height:270px;
    }
    .logoimg{
      width:55px;
    }
    .iconimg{
      width: 25px;
    }
  }


   @media only screen and (max-width: 321px) {
    .imgbox{
      padding: 35px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .portimage{
      width: 161px;
    height: 259px;
    }

    .row {
      width: 275px;
    }

    .col{
       width: 260px;
       padding-left: 34px;
       padding-right: 34px;
    }
    .logoimg{
      width: 55px;

    }
    .topmenu{
      font-size: 15px;
    }
.active{
  font-size: 15px;
}
.contenttext{
  font-size: 35px;
}
.contentbox{
      
    text-align: center;
 
  padding: 5px;
  background-color: white;
font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.iconimg{
  width: 25px;
}
.profilepic{
  padding-left: 5px;
  padding-right: 5px;
  width:250px;
  height:250px;

}
.logoimg{
  width:55px;
}
.iconimg{
  width: 25px;
}
  }
  @media only screen and (min-width: 767px) and (max-width:3620px) {
    .portimage{
      width: 300px;
      height: 350px;
    }
    .profilepic{
      padding-left: 5px;
      padding-right: 5px;
      width:270px;
      height:270px;
    }
    .logoimg{
      width:55px;
    }
    .iconimg{
      width: 25px;
    }

  }
  @media  (min-width: 3840px) {
    .portimage{
      width: 1300px;
      height: 1350px;
      
    }
    div.desc {
      padding: 15px;
      text-align: center;
      font-size: 100px;
    }
    p.h1{
      font-size: 135px;
      text-align: center;
      font-weight: bold;
      color: white;
  text-shadow: 2px 2px 4px #000000;
    }
    .footer {
   
      background-color: grey;
      padding: 10px;
      text-align: right;
      display:block;
     height:450px;
     font-size: 75px;
    }
     .logoimg{
      width: 155px;

    }
    .topmenu{
      font-size: 60px;
    }
.active{
  font-size: 60px;
}
.contenttext{
  font-size: 75px;
}
.contentbox{
      
      
  padding: 35px;
  background-color: white;
font-size: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.iconimg{
  width: 85px;
}
.profilepic{
  padding-left: 10px;
  padding-right: 10px;
  width:1750px;
  height:1700px;

}

  }

 
 